#game {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 1rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vh;
  padding: 0.5rem;
  color: black;
  button {
    background-color: $Orange;
    border: none;
    font-weight: 400;
    width: 90px;
    height: 40px;
    border-radius: 15px;
  }
}

#gameBoard {
  border-radius: 10px;
  border: 0;
  background-color: $SnowWhite;
  width: 80vh;
  height: 80vh;
  padding: 5vh;
  td {
    padding: 5px;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .notCompleted {
    width: $CircleWidth;
    height: $CircleWidth;
    border: 0;
    border-radius: 50%;
  }

  .activeBtn {
    color: $White;
    background-color: $Orange;
    transition: background-color 0.5s, color 0.5s;
    img {
      filter: invert(100%);
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  .inactiveBtn {
    color: $DarkBlue;
    background-color: $DarkBlue;

    img {
      filter: opacity(0);
    }
    transition: background-color 1.5s, color 1.5s, filter 1.5s;
  }

  .completed {
    color: $White;
    background-color: $DesaturatedBlue;
    width: $CircleWidth;
    height: $CircleWidth;
    border: 0;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    img {
      filter: invert(100%);
    }
  }
}

#score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  color: black;
  font-size: 1.5rem;
}

.falseAnswer {
  color: black;
  animation: fadeIn 0.3s ease-in;
}

.trueAnswer {
  animation: fadeOut 1s ease-in;
}

img {
  width: 59px;
  height: 59px;
  border-radius: 50%;
}
