#game {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 1rem;
}

#header {
  //position the header at the top of the page
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200vh;
  padding: 0.5rem;
  color: black;
  h1 {
    position: relative;
    left: 50px;
  }
  button {
    border: none;
    font-size: 20px;
    font-weight: 600;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
  }
  #newGame {
    background-color: $DesaturatedBlue;
    color: $DarkBlue;
  }
  #restartGame {
    background-color: $Orange;
    color: $SnowWhite;
  }
}

#memoryHeader {
  font-weight: 600;
  font-size: larger;
  outline: none;
}

#gameBoard {
  position: relative;
  top: 5vh;
  width: 80vh;
  padding: 5vh;
  td {
    padding: 5px;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .notCompleted {
    border: 0;
    border-radius: 50%;
  }

  .activeBtn {
    color: $White;
    background-color: $Orange;
    transition: background-color 0.5s, color 0.5s;
    img {
      filter: invert(100%);
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  .inactiveBtn {
    color: $DarkBlue;
    background-color: $DarkBlue;

    img {
      filter: opacity(0);
    }
    transition: background-color 1.5s, color 1.5s, filter 1.5s;
  }

  .completed {
    color: $DarkBlue;
    background-color: $DesaturatedBlue;
    border: 0;
    border-radius: 50%;
    //transition color to $DarkBlue and background-color to $DesaturatedBlue
    img {
      filter: invert(100%);
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }
  }

  .grid4 {
    width: 80px;
    height: 80px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }

  .grid6 {
    width: 55px;
    height: 55px;
    img {
      width: 55px;
      height: 55px;
    }
  }
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: black;
  font-size: 1.5rem;
}

.falseAnswer {
  color: black;
  animation: fadeIn 0.3s ease-in;
}

.trueAnswer {
  animation: fadeOut 1s ease-in;
}

.stats {
  background-color: $DesaturatedBlue;
  color: $DarkBlue;
  border-radius: 15px;
  padding: 0.5rem;
}

.stats {
  margin: 5px;
  font-weight: 600;
  width: 180px;
  display: flex;
  justify-content: space-around;
  .statistic {
    font-weight: 400;
  }
}
