#title {
  font-size: xx-large;
  color: $White;
  text-align: center;
}

.startMenuOptions {
  background-color: $SnowWhite;
  width: 100vh;
  padding: 5vh;
  border-radius: 5px;
  .selectSettings {
    color: $SemiLighBlue;
  }
  button {
    border: 0;
    color: $White;
    border-radius: 10px;
    margin-right: 5px;
    background-color: $DesaturatedBlue;
    width: 40%;
    height: 30px;
    margin: 5px;
    &:hover {
      background-color: $LightBlue;
    }
  }
  .selected {
    background-color: $DarkBlue;
  }
  h3 {
    padding: 20px;
  }
}
