#title {
  font-size: xx-large;
  color: $White;
  text-align: center;
}

.startMenu {
  align-self: center;
  position: relative;
  top: 20vh;
  width: 100%;
}

.startMenuOptions {
  background-color: $SnowWhite;
  width: 90vh;
  padding: 2vh;
  border-radius: 10px;
  .selectSettings {
    color: $SemiLighBlue;
  }
  button {
    border: 0;
    color: $White;
    border-radius: 40px;
    margin-right: 5px;
    background-color: $DesaturatedBlue;
    transition: background-color 0.2s;
    width: 50%;
    height: 7vh;
    margin: 5px;
    &:hover {
      background-color: $LightBlue;
      transition: background-color 0.2s;
    }
  }
  .selected {
    background-color: $DarkBlue;
    transition: background-color 0.2s;
    &:hover {
      background-color: $DarkBlue;
    }
  }
  h3 {
    padding: 20px;
  }
  .select {
    display: flex;
    justify-content: space-around;
  }
}

#startButton {
  background-color: $Orange;
  width: 98%;
  &:hover {
    background-color: #ffb94b;
  }
}
