@media screen and (max-width: 1025px) {
  .startMenuOptions {
    width: 45vh;
  }
  #game {
    width: 55vh;
    #header {
      width: 100%;
      #newGame {
        width: 100px;
        font-size: 15px;
      }
      #restartGame {
        width: 100px;
        font-size: 15px;
      }
    }

    position: relative;
    top: 10vh;
  }
  #startButton {
    width: 97%;
  }
}
